@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #212322;
    color: #fff;
}

.main {
    font-family: 'Rubik';
    padding: 40px 70px;
    height: 100vh;
}

a {
    color: #fff;
}

.logo {
    font-size: 22px;
    font-weight: 400;
    position: fixed;
}

.social {
    position: absolute;
    left: 90%;
    top: 68%;
    position: fixed;
}

.socLink {
    display: flex;
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: none;
}

.title {
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 13%;
}

.date {
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    top: 47%;
    left: 15%;
}

.date:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 15px;
    background-color: #fff;
    left: -25px;
    top: 8px;
}

.preview {
    width: 40%;
    position: absolute;
    top: 22%;
    left: 40%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}