@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #212322;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Rubik', monospace;
}

.main {
    padding: 40px 70px;
    height: 100vh;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 22px;
    font-weight: 400;
}

.subLogo {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
}

h1 {
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    left: 37%;
    top: 30%;
}

.design {
    font-weight: 500;
}

.toWorks {
    background: url(/images/arrow_white.svg) 90px 6px no-repeat;
    background-size: 15%;
    padding-right: 50px;
    position: absolute;
    top: 45%;
    text-decoration: underline;
    transition: .3s ease;
}

.toWorks:hover {
    background-position: 82px 6px;
}

.toBlog {
    font-size: 16px;
    text-decoration: underline;
    position: absolute;
    top: 78%;
}

.toBlog:hover {
    text-decoration: none;
    font-weight: 400;
}

.contacts {
    text-decoration: underline;
    font-size: 14px;
    position: absolute;
    top: 83%;
    line-height: 25px;
}

.email,
.pNumber {
    display: inline-block;
    transition: .3s;
    font-weight: 400;
}

.social {
    position: absolute;
    left: 90%;
    top: 68%;
}

.socLink {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
}

.pNumber:hover,
.email:hover {
    text-decoration: none;
}








































